:root {
  --rootBg: #ffffff;
  --bgd: #771e70;
  --bgd2: #e8ebf0;
  --authBg: #84247c;
  --buttonBg: #851d73;
  --buttonTextColor: #ffffff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.inputSize {
  min-height: 3.4rem;
}

/* .ant-transfer {
  width: 100 !important;
}

.ant-transfer-list {
  width: 100 !important;
  flex: 1;
}

.ant-transfer-list-body {
  white-space: normal;
} */

/*  */
.table-row-light {
  background-color: #ece6ee;
}
.table-row-dark {
  background-color: #eedded;
}

.ant-table-thead > tr > th {
  background-color: #882578 !important;
  color: white !important;
  font-size: 17px !important;
  text-align: center !important;
}

.ant-table-cell {
  font-size: 16px !important;
  text-align: center !important;
}

.ant-table * {
  font-family: var(--font-k-sans) !important;
}
/*  */

.sidebar-menu > .ant-menu-item {
  background-color: #771e70 !important ;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  /* color: white !important; */
}

.ant-menu-submenu-title {
  /* color: white !important; */
  background-color: #771e70 !important;
}
.ant-menu .ant-menu-sub {
  /* color: white !important; */
  background-color: #771e70 !important;
}
.ant-menu-submenu {
  /* color: white !important; */
  background-color: #771e70 !important;
  margin-left: 4px;
  margin-right: 4px;
}
.ant-menu-item-selected {
  background-color: #fff !important;
  color: #0c233f !important;
}
.ant-menu-submenu-open {
  background-color: #771e70 !important;
}
/*  */

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #771e70 !important;
  border-color: #771e70 !important;
}
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #771e70 !important;
}
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #771e70 !important;
}

/* text-editor */

/* Heading levels */
.jodit-wysiwyg h1 {
  @apply text-2xl font-bold;
}
h1 {
  @apply text-2xl font-bold;
}

.jodit-wysiwyg h2 {
  @apply text-xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}

.jodit-wysiwyg h3 {
  @apply text-lg font-semibold;
}
h3 {
  @apply text-lg font-semibold;
}

.jodit-wysiwyg h4 {
  @apply text-base font-medium;
}
h4 {
  @apply text-base font-medium;
}

/* Quotes */
.jodit-wysiwyg blockquote {
  @apply rounded-lg border border-gray-200 bg-gray-100 p-4;
}

blockquote {
  @apply rounded-lg border border-gray-200 bg-gray-100 p-4;
}

/* Code blocks */
.jodit-wysiwyg pre,
.jodit-wysiwyg code {
  @apply rounded-lg bg-gray-900 px-4 py-2 font-mono text-white;
}

code {
  @apply rounded-lg bg-gray-900 px-4 py-2 font-mono text-white;
}
pre {
  @apply rounded-lg bg-gray-900 px-4 py-2 font-mono text-white;
}

/* Unordered lists */
.jodit-wysiwyg ul {
  @apply list-inside list-disc pl-8;
}
ul {
  @apply list-inside list-disc pl-8;
}
.jodit-wysiwyg ol {
  @apply list-inside list-decimal pl-8;
}
ol {
  @apply list-inside list-decimal pl-8;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd; /* Add border for the table */
}

td {
  width: 16.6667%;
  padding: 8px; /* Add padding for better spacing */
  border: 1px solid #ddd; /* Add border for the table cells */
}

.enabled {
  color: #333; /* Default text color for enabled state */
}

.disabled {
  color: #999; /* Text color for disabled state */
}

.activated {
  color: #007bff; /* Text color for active state */
}

.warning {
  color: #ffc107; /* Text color for warning state */
}

.error {
  color: #dc3545; /* Text color for error state */
}

.colorCheck {
  @apply bg-slate-600 md:bg-blue-500 lg:bg-red-300 xl:bg-green-400;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: black rgb(209, 213, 219);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #fb8500;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

/* text-editor end */
